.box{align-items: center;
    
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-content:space-between ;}

#id{
flex-basis: 10%;}

table {
    width: 35%;
    border: .2em solid black;
    border-top: 1em solid black;
    border-radius: .5em;
    padding-top: 3em;
}

table td {
    text-align: center;
}

table td img {
    width: 100%;
    
 } 

.children{
    
    
    margin: 2%;
}