.eraseItem{
    float:right;
    
    display: inline;
     ;
}

.addItem{
    display: inline;
    float:right;
    
}


.folderContent{
    margin-left: 3%;
}

body{background-color: #0D6973;
    color: #EBF1F2;
    margin:5% 10% 5% 10% ;
}
#parent{
    width: 70%;
    background-color: #197362;
    border: 20px solid #197362;
    border-radius:10px ;}