*{
    text-transform: capitalize;
}

#name{
    display: inline-flex;
    margin: 1%;
    justify-content: center;
}

#number{
    display: inline-flex;
    margin: 1%;
    justify-content: center;
}

#discount{
    display: inline-flex;   
    margin: 1%;
    justify-content: center;
}

.trafficlight{
    width: 10%;
}

.clock{
    width: 7%;
    margin: 1%;
}

#van{
    width: 10%;
}